&
	.question-body
		display : flex
		flex-direction: column

		.question-body-radio-item
			
			.radio-item-label:before
				border-radius: 100%
			
			.radio-item-label:after 
				background 		: $TEAL
				border-radius 	: 100%
				width 			: 10px
				height 			: 10px
				top 			: 4px
				left 			: 4px