$WIDTH : 180px

&
	.dropdown-container
		width 	: $WIDTH

		.dropdown-list
			margin : 0
			padding : 0
			position 	: absolute
			background 	: $WHITE
			z-index 	: 10
			box-shadow: 0 0 2px rgba(0, 115, 115, 0.25)
			width: inherit
			margin-top: 4px
			border-radius: 4px

			.dropdown-list-item
				list-style-type : none
				padding: 4px 8px
				border-bottom: 1px dashed rgba(0, 115, 115, 0.10)
				display: flex
				justify-content: space-between

				&:hover
					background : rgba(0, 115, 115, 0.02)

				&:last-child
					border : none