&
	height : 100%
	padding : 24px
	font:    
	    family: 'Work Sans', sans-serif
	    weight: 200

	.questions-container
		&.medium-screen
			width : 700px

	.question-title
		padding : 8px 0
		color : $GREY

	.question-body
		display 	: flex
		flex-wrap 	: wrap
		width 		: 100%
		padding 	: 8px 0

	.custom-button-container
		border-radius : 4px
		padding : 8px
		cursor : pointer
		cursor : hand

		.custom-button-label
			padding 	: 4px
			color 		: $MEDIUM_GREY
			display 	: flex
			flex-wrap 	: nowrap
			align-items : center
			justify-content: space-between
			box-shadow 	: 0 0 2px $TEAL
			background-color : $LIGHT_TEAL
			border-radius : 4px
			border-bottom : none

			&:hover
				background-color : $MEDIUM_TEAL
				color : $WHITE

		&.selected
			.custom-button-label
				color : $WHITE
				background-color : $TEAL

	.custom-input-container
		flex : 0 auto
		padding: 8px
		display: flex
		flex-wrap: nowrap
		align-items: center
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none


		.custom-input-label
			position: relative
			padding-left: 28px
			cursor: pointer
			display: inline-block
			color: $GREY

		.custom-input-label:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 16px
			height: 16px
			border: 1px solid $LIGHT_GREY
			background: $WHITE

		.custom-input-label:after 
			content: ''
			position: absolute
			opacity: 0
			-webkit-transition: all 0.2s ease
			transition: all 0.2s ease
			-webkit-transform: scale(0)
			transform: scale(0)		

		&.selected
				
			.custom-input-label:after 
				opacity: 1
				-webkit-transform: scale(1)
				transform: scale(1)
	
			












