&
	min-height: calc( 100vh - 2 * 24px )
	margin : 24px
	font:    
	    family 	: 'Work Sans', sans-serif
	    weight 	: 200
	    size 	: 16px

	&.medium-screen
		.questions-container
			width : 700px

	&.small-screen
		.result-container,
		.questions-container
			width : 300px
			padding: 16px 24px

			.question
				padding-bottom: 24px

		.image-container
			height: 120px
			width: 120px

		.result-container

			.result-image
				padding: 4px
				height : unset

			.result-text
				padding: 16px

	.intro-container
		flex: 1 0 auto
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

	.title
		font:
			size: 22px
			weight: 600
		color : $TEAL
		margin: 10px 0 16px 0
		text-align: center

	.subtitle
		font:
			size: 20px
			weight: 100
		margin-bottom: 30px
		color : $GREY
		text-align: center

	.result-container
		flex-direction : row

		.result-text
			flex : 0 70%
			padding : 40px

			.subtitle
				text-align : left

		.result-image
			flex : 0 30%
			padding: 20px
			height : unset

	.result-container,
	.questions-container
		padding 	: 16px 8px
		box-shadow 	: 0 0 2px $LIGHT_GREY
		border-radius : 4px
		min-height : 500px
		display: flex

	.questions-container
		flex-direction: column

		.question
			display: flex
			min-height: 400px
			flex-direction: column

		.buttons-container
			flex: 1 0 auto
			display: flex
			justify-content: space-between
			align-items: flex-end

	.question-title
		font-weight : 600
		padding : 8px 0 30px 0
		color : $GREY

	.question-body
		display 	: flex
		justify-content : center
		flex-wrap 	: wrap
		width 		: 100%

	.custom-button-container
		&.submit
			flex: 1 0 auto
			display: flex
			justify-content: center
			align-items: flex-end

	.custom-button
		border-radius : 4px
		padding : 8px
		cursor : pointer
		cursor : hand
		max-width: 200px
		min-width: 100px

		.custom-button-label
			text-align 	: center
			padding 	: 4px
			color 		: $MEDIUM_GREY
			display 	: block
			box-shadow 	: 0 0 2px $TEAL
			background-color : $LIGHT_TEAL
			border-radius : 4px
			border-bottom : none

			&.enabled
				&:hover
					background-color : $MEDIUM_TEAL
					color : $WHITE

			&.disabled
				background-color : $LIGHT_GREY
				box-shadow 	: 0 0 2px $MEDIUM_GREY
				cursor 		: default


		&.selected
			.custom-button-label
				color : $WHITE
				background-color : $TEAL

	.custom-input
		flex : 0 auto
		padding: 8px
		display: flex
		flex-wrap: nowrap
		align-items: center
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none


		.custom-input-label
			min-height : 24px
			position: relative
			padding-left: 28px
			cursor: pointer
			display: inline-block
			color: $GREY
			-webkit-transition: all 0.2s ease
			transition: all 0.2s ease

			&:hover
				font-size : 20px

		.custom-input-label:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 16px
			height: 16px
			border: 1px solid $LIGHT_GREY
			background: $WHITE

		.custom-input-label:after 
			content: ''
			position: absolute
			opacity: 0
			-webkit-transition: all 0.2s ease
			transition: all 0.2s ease
			-webkit-transform: scale(0)
			transform: scale(0)		

		&.selected
				
			.custom-input-label:after 
				opacity: 1
				-webkit-transform: scale(1)
				transform: scale(1)
	
			
	.image-container
		width 	: 150px
		height 	: 150px
		position: relative
		margin 	: 4px
		overflow: hidden
		border 	: 4px solid transparent
		border-radius : 8px

		.image-option 
			position 		: relative
			top 			: 0
			left 			: 0
			max-width 		: 100%











